





<section style="margin-top:-10px;" id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="title-box-2">
                    <h5 class="title-left">
                      Engineer's Contact
                    </h5>
                  </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{project.engineer.avatar.url}}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>{{project.engineer.username|title}}</span></p>
                      <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                      <p><span class="title-s">Email: </span> <span>{{project.engineer.email}}</span></p>
                      <p><span class="title-s">Phone: </span> <span>{{project.engineer.mobile_number}}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">STACK</p>
                  <span>{{project.engineer.tech_stack}}</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <p class="lead">{{project.engineer.about_me|truncatewords:30}}</p>
                </div>
                <div class="col-md-12">
                  <a href="{% url 'profile' project.engineer.username %}" class="button button-a button-big button-rouded">View {{project.engineer.username}}'s profile</a>
                          <!--<button type="submit" class="button button-a button-big button-rouded">Send Message</button>-->
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

