{% load static %}
<!--/ Section Footer start /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/bg_1.jpg' %})">
  <div class="overlay-mf"></div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright"><strong>.etin 2022</strong></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
<!--/ Section end /-->

