{% extends 'base.html' %}

{% block content %}
<h3>Name: {{engineer.username|title}}</h3>
<img src="{{ engineer.avatar.url }}" width="100" height="100">
<h3>Email: {{engineer.email}}</h3>
<h3>Mobile Number: {{engineer.mobile_number}}</h3>
<h3>Location: {{engineer.location|title}}</h3>
<h3>Years of experience: {{engineer.years_of_experience}}</h3>
<h3>Stack: {{engineer.tech_stack|title}}</h3>
<h3>About: {{engineer.about_me}}</h3>
<hr>
<a href="{% url 'create-project' %}">Add Project</a>
<a href="{% url 'update-profile' %}">Update Profile</a>
{% for my_project in my_projects %}
<div>
   <a href="{% url 'project-detail' my_project.name %}" style="text-decoration:none; color:white;">
        <h4>Name: {{my_project.name|title}} </h4>
       <img src="{{ my_project.image.url }}" width="200" height="200">
    <p>About project: {{my_project.about|truncatewords:20}}</p>
    <a href="{{my_project.git_hub_link}}">GitHub repo</a>
    <a href="{{my_project.live_link}}">Live link</a>
       {% if request.user == my_project.engineer %}
       <a href="{% url 'update-project' my_project.name %}">Edit Project</a>
        <a href="{% url 'delete-project' my_project.name %}">Delete Project</a>
       {% endif %}
   </a>
    <hr>
</div>
{% empty %}
<h4>No projects, upload one</h4>
{% endfor %}
{% endblock %}