{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--/ Section Profile-update /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/bg_2.jpg' %})">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="margin:auto; padding:auto;">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="col-md-12">
              <a style="margin-bottom:20px;" href="{% url 'profile' request.user.username %}" class="button button-a button-big button-rouded">&#8592; back</a>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left">
                    Profile update
                  </h5>
                </div>
                <div>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          {{form.as_p}}
                          <div class="validation"></div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <input type="submit" class="button button-a button-big button-rouded" value="Update Profile">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Section End /-->
{% endblock %}