{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--/ Section Project delete /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/bg_1.jpg' %})">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div id="contact" class="box-shadow-full">
          <a style="margin-bottom:20px;" class="button button-a button-big button-rouded" href="{% url 'profile' request.user.username %}">&#8592; back</a>
          <div class="row">
            <div class="col-md-6">
              <img src="{{ project.image.url }}" width="200" height="200">
            </div>
            <div class="col-md-6" >
              <div class="title-box-2 pt-4 pt-md-0">
                <h5 class="title-left">
                  Are you sure you want to delete this project?
                </h5>
              </div>
              <div class="more-info">
                <p class="lead" >
                  This action is irreversible, the project <strong>{{project.name|title}}</strong> will be
                  deleted from your account and the database
                </p>
              </div>
              <form method="POST">
                {% csrf_token %}
                <div class="col-md-12">
                  <input type="submit" class="button button-a button-big button-rouded" value="Delete">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Section end /-->
{% endblock %}