{% extends 'base.html' %}
{% block content %}
<div>
    <h4>Name: {{project.name|title}} </h4>
    <img src="{{project.image.url}}" width="300" height="300">
    <p>About project: {{project.about}}</p>
    <a href="{{project.git_hub_link}}">GitHub repo</a>
    <a href="{{project.live_link}}">Live link</a>
    <p>Technology Used: {{project.tech_used}} </p>
</div>

<hr>
<h3> SOFTWARE ENGINEERS CONTACT</h3>
<h4>Name: {{project.engineer.username|title}}</h4>
<p>image</p>
<h4>Email: {{project.engineer.email}}</h4>
<h4>Mobile Number: {{project.engineer.mobile_number}}</h4>
<h4>Social media handles</h4>
<a href="{% url 'profile' project.engineer.username %}">View {{project.engineer.username|title}}'s profile</a>
{% endblock %}