{% extends 'base.html' %}
{% block content %}
<!--/ Section Project detail /-->
<section class="blog-wrapper sect-pt4" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-box">
          <div class="post-thumb">
            <img src="{{project.image.url}}" class="img-fluid" alt="">
          </div>
          <div class="widget-sidebar widget-tags">
            <div class="sidebar-content">
              <ul style="text-align:center;">
                <li>
                  <a href="{{project.git_hub_link}}">GitHub</a>
                </li>
                <li>
                  <a href="{{project.live_link}}">Live link</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="article-content">
            <blockquote class="blockquote" style="margin-top:-100px;">
              <p class="mb-0"><strong>{{project.name|title}}</strong></p>
            </blockquote>
            <p>{{project.about}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Section end /-->
{% include 'about-me.html' %}
{% endblock %}